@{
    ViewData["Title"] = "Historia";
}

 
<body class="historia">
<main>
<section>
<div> 
<p>
En el año 2047, la humanidad alcanzó un avance sin precedentes en la biotecnología. Una empresa farmacéutica llamada NeuroGen desarrolló un revolucionario suero llamado “ReGenesis”, destinado a curar enfermedades neurodegenerativas y rejuvenecer células cerebrales dañadas.

El suero se probó inicialmente en animales y mostró resultados sorprendentes, revitalizando tejidos nerviosos y aumentando la inteligencia en primates. NeuroGen se apresuró a comenzar ensayos en humanos, bajo el nombre secreto de proyecto “Evolución”.

Sin embargo, algo salió terriblemente mal.

Uno de los primeros voluntarios, un científico del propio laboratorio, mostró efectos adversos severos tras recibir el suero. En lugar de mejorar, su cerebro comenzó a funcionar de forma errática: perdió el control emocional, se volvió agresivo y finalmente murió de un paro cardíaco súbito. Pero antes de morir, algo extraño sucedió: el paciente volvió a la vida con un hambre insaciable y un comportamiento violento e irracional.

NeuroGen intentó contener la situación en secreto, pero el suero se filtró accidentalmente en el sistema de agua potable de la ciudad más cercana. La infección se propagó rápidamente, transformando a miles de personas en criaturas sin conciencia ni humanidad, impulsadas solo por la necesidad de consumir carne viva.

El gobierno declaró estado de emergencia, pero fue demasiado tarde. Los infectados crecieron en número y fuerza, y en cuestión de semanas el mundo cayó en caos absoluto.

Ahora nuestra mision es poder escapar y llegar a un refugio para sobrevivir.
</p>
    <a href='@Url.Action("Index", "Home")'> Volver </a>
</div> 
</section>
</main>
</body>