@{
    ViewData["Title"] = "Index";
}
<body>
<main>
<section>
<div>
    <h1>SALA DE EESCAPE</h1>
    <h2>Intenta de escapar de los zombies🧟‍♀️</h2> 
    <a href='@Url.Action("Sala1", "Home")'>Jugar</a>
    <a href='@Url.Action("Sala2", "Home")'>Historia</a>
    <a href='@Url.Action("Sala3", "Home")'>Integrantes</a>
    
 
</div>
</section> 
</main>
</body>