@{
    ViewData["Title"] = "Index";
}
<body>
<main>
<section>
<div class="integrantes">
    <h1>SALA DE ESCAPE CREADA POR:</h1>
    <img src="../imagenes/JUANMA.jpg" alt="Ivo"/>
    <img src="../imagenes/IVO.jpg" alt="Juanma"/>
    <a href='@Url.Action("Index", "Home")'> Volver </a>
</div>
</section> 
</main>
</body>