@{
    ViewData["Title"] = "Preg1";
}

 
<body class = "sala1">
<main>
<section>
<div> 
<h2> ¡Ya empezo el apocalipsis zombie hay que escapar antes de que nos atrapen!</h2>
<p>No tengo cuerpo ni alma, pero puedo acabar con millones. No me ves llegar, pero al toser me propagan. ¿Qué soy? respuesta </p>
<form action='@Url.Action("preg1", "Home")' method="POST">
<input type="text" name= "claveIngresada">
<button type="submit"> enviar</button>
</form>
</body>
</div> 
</section>
</main>
