@{
    ViewData["Title"] = "Preg3";
}

 
<body class = "sala35">
<main>
<section>
<div> 
<h1>Logramos llegar a la avenida, nos falta poco para el refugio<h1>

<h3>En un laboratorio abandonado, encontrás un papel con esta frase:

“Sólo una sustancia logró frenar la infección.
Su fórmula era: A+Z = el principio del fin.
Su número es la suma del alfabeto que la nombra.”<h3>
<form action='@Url.Action("Sala35", "Home")' method="POST">
<input type="text" name= "claveIngresada">
<button type="submit">enviar</button>
</form>
</div> 
</section>
</main>
</body>