@{
    ViewData["Title"] = "Sala2";
}

 
<body class = "sala2">
<main>
<section>
<div> 
<h1>¡Llegamos a un bosque!<h1>
<p>Vamos a tener que encontrar el camino, para eso vas a tener que contar los arboles con una imagen<P>
<form action='@Url.Action("Sala2", "Home")' method="POST">
<input type="text" name= "claveIngresada">
<button type="submit"> enviar</button>
</div> 
</section>
</main>
</body>