@{
    ViewData["Title"] = "sala3";
}

 
<body class = "sala1">
<main>
<section>
<div> 
<h2> ¡Ya empezo el apocalipsis zombie hay que escaoar antes de que nos atrapen!</h2>
<p> ¡Ahi rapido la ventana esta abierta! </p>
<button> <a href= "preg3"> </button>
No tengo cuerpo ni alma, pero puedo acabar con millones. No me ves llegar, pero al toser me propagan. ¿Qué soy? respuesta 
</div> 
</section>
</main>
</body>