@{
    ViewData["Title"] = "Sala4";
}

 
<body class = "sala4">
<main>
<section>
<div> 
<h1>Llegamos al refugio! Tenemos que adivinar la combinacion de la puerta para poder entrar<h1>
<h3>"La infeccion fue debido al hongo cordyceps, de el se extrae una composicion quimicÑa con su nombre, la respuesta es la formula quimica de su espora"<h3>
<form action='@Url.Action("sala4", "Home")' method="POST">
<input type="text" name= "claveIngresada">
<button type="submit">enviar</button>
</form>
</div> 
</section>
</main>
</body>