@{
    ViewData["Title"] = "Sala1";
}

 
<body class = "sala1F">
<main class = "sala1">
<section>
<div> 
<h2> ¡Ya empezo el apocalipsis zombie hay que escaoar antes de que nos atrapen!</h2>
<p> ¡Ahi rapido la ventana esta abierta! </p>
<button> <a href='@Url.Action("preg1", "Home")'> Escapar </a></button>

</div> 
</section>
</main>
</body>