@{
    ViewData["Title"] = "salaF";
}

 
<body class = "salaF">
<main>
<h1>¡Felicitaciones lograste escapar de la apocalipsis zombie!</h1>
<a href='@Url.Action("Index", "Home")'>Pulsa aqui para volver al inicio</a>
</main>
</body>