@{
    ViewData["Title"] = "sala3";
}

 
<body class = "sala3">
<main>

<div> 
<h1>Logramos llegar a la avenida, nos falta poco para el refugio<h1>

<h3>Encontrás esto en un diario:

“Primero vino la muerte del sol,
luego la tierra dejó de girar.
El último día del hombre fue el día del mes que tiene la mitad de días del segundo mes más largo<h3>
<form action='@Url.Action("Sala3", "Home")' method="POST">
<input type="text" name= "claveIngresada">
<button type="submit">enviar</button>
</form>
</div>

</main>
</body>