@{
    ViewData["Title"] = "Sala1";
}

 
<body class = "sala1">
<main >
<section>
<div> 
<h2> ¡Ya empezo el apocalipsis zombie hay que escapar antes de que nos atrapen!</h2>

</div> 
<button> <a href='@Url.Action("preg1", "Home")'> Escapar </a></button>
</section>
</main>
</body>