@{
    ViewData["Title"] = "Sala4";
}

 
<body class = "sala4">
<main>
<section>
<div> 
<h1>Llegamos al refugio! Tenemos que adivinar la combinacion de la puerta para poder entrar<h1>
<h3>"La infeccion fue debido al hongo cordyceps, de el se extrae una composicion quimicÑa con su nombre, la respuesta es la formula quimica de su espora"
</div> 
</section>
</main>
</body>